{
    "welcome_file": "welcome.txt",
    "state_file": "download_state.json",
    "metadata_variables_file": "safran-variables_2026-02-19.csv",
    "download_dir": "00_download",
    "raw_dir": "01_raw",
    "split_dir": "02_split",
    "convert_dir": "03_convert",
    "output_dir": "04_output",
    "meteo_base_url": "https://www.data.gouv.fr/api/1/datasets/",
    "meteo_dataset_id": "6569b27598256cc583c917a7",
    "rdg_base_url": "https://entrepot.recherche.data.gouv.fr",
    "rdg_dataset_doi": "doi:10.57745/BAZ12C"
} 
