[Unit]
Description=Synchronisation des données SAFRAN de meteo.data.gouv.fr
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=safran-fairy
Group=safran-fairy
WorkingDirectory=/opt/safran-fairy
ExecStart=/opt/safran-fairy/.python_env/bin/python main.py --all
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
